body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 425px;
  padding: 20px 0;
  gap: 20px;
  border: 4px solid black;
  border-radius: 20px;
}

.display {
  width: 85%;
  height: 25%;
  border: 4px solid black;
  border-radius: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  font-size: 30px;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
  display: flex;
  gap: 8px;
  flex: auto;
}

.clear, .delete {
  width: 157px;
}

.five-row {
  width: 58px;
}

.number-0, .modification {
  width: 58px;
}

.operation-2 {
  width: 124px;
}