body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color:rgb(95, 100, 105)
}

.heading {
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 470px;
  padding: 20px 0;
  gap: 20px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(233, 244, 255);
}

.display {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  align-items: flex-end;
  justify-content: space-between;
  width: 85%;
  height: 25%;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgb(255, 247, 236);
}

.upper-display, .lower-display { 
  margin-right: 20px;
}

.upper-display {
  font-size: 18px;
}

.lower-display {
  font-size: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  font-size: 30px;
  height: 58px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: rgb(253, 243, 229);
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
  display: flex;
  gap: 8px;
  flex: auto;
}

.clear, .delete {
  width: 157px;
}

.five-row {
  width: 58px;
}

.number-0, .modification {
  width: 58px;
}

.operation-2 {
  width: 124px;
}

.clear {
  background-color: rgb(253, 124, 124);
}

.delete {
  background-color: rgb(255, 197, 197);
}

.modification {
  background-color: rgb(200, 252, 252);
}

.operation, .operation-2 {
  background-color: rgb(203, 230, 253);
}